- label_css_id = dom_id(label)
- status = label_subscription_status(label, @project).inquiry if current_user
- subject = local_assigns[:subject]
- use_label_priority = local_assigns.fetch(:use_label_priority, false)
- force_priority = local_assigns.fetch(:force_priority, use_label_priority ? label.priority.present? : false)
- toggle_subscription_path = toggle_subscription_label_path(label, @project) if current_user
- show_label_epics_link = @group&.feature_available?(:epics)
- show_label_merge_requests_link = show_label_issuables_link?(label, :merge_requests, project: @project)
- show_label_issues_link = show_label_issuables_link?(label, :issues, project: @project)
- tooltip_title = label_status_tooltip(label, status) if status

%li.label-list-item{ id: label_css_id, data: { id: label.id } }
  = render "shared/label_row", label: label, subject: subject, force_priority: force_priority
  %ul.label-actions-list
    - if @project
      %li.inline
        .label-badge.label-badge-gray= label.model_name.human.capitalize
    - if can?(current_user, :admin_label, @project)
      %li.inline.js-toggle-priority{ data: { url: remove_priority_project_label_path(@project, label),
        dom_id: dom_id(label), type: label.type } }
        %button.label-action.add-priority.btn.btn-transparent.has-tooltip{ title: _('Prioritize'), type: 'button', data: { placement: 'top' }, aria_label: _('Prioritize label') }
          = sprite_icon('star-o')
        %button.label-action.remove-priority.btn.btn-transparent.has-tooltip{ title: _('Remove priority'), type: 'button', data: { placement: 'top' }, aria_label: _('Deprioritize label') }
          = sprite_icon('star')
    - if can?(current_user, :admin_label, label)
      %li.inline
        = link_to edit_label_path(label), class: 'btn btn-transparent label-action edit', aria_label: 'Edit label' do
          = sprite_icon('pencil')
    %li.inline
      .dropdown
        %button{ type: 'button', class: 'btn btn-transparent js-label-options-dropdown label-action', data: { toggle: 'dropdown' }, aria_label: _('Label actions dropdown') }
          = sprite_icon('ellipsis_v')
        .dropdown-menu.dropdown-open-left
          %ul
            - if label.is_a?(ProjectLabel) && label.project.group && can?(current_user, :admin_label, label.project.group)
              %li
                %button.js-promote-project-label-button.btn.btn-transparent.btn-action{ disabled: true, type: 'button',
                  data: { url: promote_project_label_path(label.project, label),
                          label_title: label.title,
                          label_color: label.color,
                          label_text_color: label.text_color,
                          group_name: label.project.group.name,
                          target: '#promote-label-modal',
                          container: 'body',
                          toggle: 'modal' } }
                  = _('Promote to group label')
            - if can?(current_user, :admin_label, label)
              %li
                %span{ data: { toggle: 'modal', target: "#modal-delete-label-#{label.id}" } }
                  %button.text-danger.remove-row{ type: 'button' }= _('Delete')
    - if current_user
      %li.inline.label-subscription
        - if can_subscribe_to_label_in_different_levels?(label)
          %button.js-unsubscribe-button.label-subscribe-button.btn.btn-default{ class: ('hidden' if status.unsubscribed?), data: { url: toggle_subscription_path, toggle: 'tooltip' }, title: tooltip_title }
            %span= _('Unsubscribe')
          .dropdown.dropdown-group-label{ class: ('hidden' unless status.unsubscribed?) }
            %button.label-subscribe-button.btn.btn-default{ data: { toggle: 'dropdown' } }
              %span
                = _('Subscribe')
                = sprite_icon('chevron-down')
            .dropdown-menu.dropdown-open-left
              %ul
                %li
                  %button.js-subscribe-button.label-subscribe-button.btn.btn-default{ class: ('hidden' unless status.unsubscribed?), data: { status: status, url: toggle_subscription_project_label_path(@project, label) } }
                    %span= _('Subscribe at project level')
                %li
                  %button.js-subscribe-button.js-group-level.label-subscribe-button.btn.btn-default{ class: ('hidden' unless status.unsubscribed?), data: { status: status, url: toggle_subscription_group_label_path(label.group, label) } }
                    %span= _('Subscribe at group level')
        - else
          %button.js-subscribe-button.label-subscribe-button.btn.btn-default{ data: { status: status, url: toggle_subscription_path, toggle: 'tooltip' }, title: tooltip_title }
            %span= label_subscription_toggle_button_text(label, @project)

= render 'shared/delete_label_modal', label: label
